@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "inter";
  font-display: swap;
  src: url("../fonts/inter-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "inter";
  font-display: swap;
  src: url("../fonts/inter-700.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "inter";
  font-display: swap;
  src: url("../fonts/inter-900.woff2 format") format("woff2");
}

body {
  background-color: #feafc3;
}

.ice-cream-catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
